<configuration>

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="OUTPUT_STREAM" class="ch.qos.logback.core.OutputStreamAppender">
		<encoder>
			<pattern>%-5level %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.chris.portmapper" level="DEBUG">
		<appender-ref ref="OUTPUT_STREAM" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>